@import "boilerplate";
@import "defaults";
@import "bootstrap";
@import "bootstrap-responsive";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

::-moz-selection { background: gray; color: #fff; text-shadow: none; }
::selection { background: gray; color: #fff; text-shadow: none; }

/* 
  ------------------------------------------------------------------------------
    COLORS
  ------------------------------------------------------------------------------
*/

$cyan: #00adef;
$darkCyan: #0082e6;
$grey: #999;
$paleGrey: #afafaf;
$darkGrey: #666;
$anthracite: #333;
$midnightBlue: #003366;
$textColor: #ccc;

$clGreen: #bdca07;

/* 
  ------------------------------------------------------------------------------
    COMMON STYLES
  ------------------------------------------------------------------------------
/* Gernal */


.workspace_caption {
    margin: 0 0 30px 0;
}

.att_track_table tbody tr {
    & > td {
        vertical-align: middle;
    }
    .progress {
        margin-bottom: 0;
    }
}

.my_timer {
    .time {
        line-height: 28px;
    }
    & > *{
        float: left;
        margin: 0 2em 0 0;
    }
}

#start-modal {
    #api-key-form .controls{
        margin-left: 0px;
    }
    .ajax_img {
        display: none;
    }
    #api-key-edit, #api-key-delete {
        display: none;
    }
    
    #workspace-container {
        display: none;
        & > .workspace {
            text-align: center;
        }
    }
}
